@import '~@/styles/mixins'
@import '~@/styles/variables'

.chunk
  width: 100%
  height: 100%
  padding: 2px
  display: flex
  justify-content: space-between
  align-items: center

  .chunk-inner
    width: 100%
    height: 100%
    border-radius: 9px
    display: flex
    flex-direction: column
    align-items: flex-start

    // box-shadow: 39px -30px 44px -63px rgba(0,0,0,0.83) inset
    border: 2px solid #fff // rgba(0,0,0,0.3)
    // border-right: 1px solid rgba(0,0,0,0.3)

    &.weather-rating-1
      background-color: lighten(#43C6F6, 10%)
    &.weather-rating-2
      background-color: lighten(#43C6F6, 50%)
      // background-color: lighten(#63DFE0, 20%)

    &.weather-rating-3
      background-color: lighten(#43C6F6, 70%)
      // background-color: lighten(#63DFE0, 20%)
    &.weather-rating-4
    &.weather-rating-5
      background-color: lighten(#FDAF6F, 20%)
    &.weather-rating-6
      background-color: lighten(#F96975, 20%)

    &.extra-special
      background-image: url('./imgs/bg-disc.png')
      background-repeat: no-repeat
      background-position: top 70px right 20px;
      background-size: 50%
      overflow: hidden

    &.is-morning
      opacity: 0.8

    .content
      display: flex
      width: 100%
      padding: 5px 0 0 5px
      align-items: center
      justify-content: space-between
      .left
        display: flex
        justify-content: center
        align-items: center
      .text
        display: flex
        align-items: center
        justify-content: space-between

      p
        margin: 0

        sup
          font-size: 0.5em
          position: relative
          top: -9px

        &.temp
          font-size: 2em
          font-weight: 200
          line-height: 0.96em

          +media('md-height')
            font-size: 1em

        &.wind-pop
          margin-left: 12px
          font-weight: 600
          font-size: 0.80em

          +media('md-height')
            font-size: 0.6em

      div.hour
        // position: absolute
        right: 0
        height: 4.16%
        display: flex
        justify-content: center
        align-items: center

        p
          padding: 0 5px
          margin: 0
          vertical-align: middle
          font-size: 0.6em

    img.weather-icon
      height: 25px
      width: 26px
      position: relative
      top: -1px
      margin-right: 10px

dump_media_cache()