@import '~@/styles/mixins'
@import '~@/styles/variables'

.chunk
  position: relative
  width: 100%
  height: 100%
  padding: 2px
  display: flex
  justify-content: space-between
  align-items: center
  cursor: pointer

  .chunk-inner
    width: 100%
    height: 100%
    border-radius: 9px
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: space-between
    border: 2px solid $white
    
    .dot
      font-size: 3em
      line-height: 1px
      padding-right: 10px

    &.weather-rating-1
    &.weather-rating-2
    &.weather-rating-3
      background-color: lighten(#43C6F6, 70%)
      .dot
        color: #2eb82e
    &.weather-rating-4
    &.weather-rating-5
      .dot
        color: #cccc00
      background-color: lighten(#43C6F6, 70%)
    &.weather-rating-6
      background-color: lighten(#43C6F6, 70%)
      .dot
        color: #cc2900

    &.extra-special
      // background-image: url('./imgs/basket.png')
      // background-repeat: no-repeat
      // background-position: bottom 10% right 10%;
      // background-size: 120px
      overflow: hidden

    &.is-morning
      opacity: 0.8

    .content
      display: flex
      width: 100%
      padding: 5px 0 0 5px
      align-items: center
      justify-content: space-between
      .left
        display: flex
        justify-content: center
        align-items: center
      .text
        display: flex
        align-items: center
        justify-content: space-between

      p
        margin: 0

        sup
          font-size: 0.5em
          position: relative
          top: -9px

        &.temp
          font-size: 1.8em
          font-weight: 200

          +media('md-height')
            font-size: 1.2em

        &.wind-pop
          font-weight: 600
          font-size: 1.8em

          +media('md-height')
            font-size: 1.2em

          sub
            font-size: 0.7em
            position: relative
            top: 0px

      div.hour
        height: 4.16%
        display: flex
        justify-content: center
        align-items: center

        p
          padding: 0 5px
          margin: 0
          vertical-align: middle
          font-size: 0.8em

    img.weather-icon
      height: 30px
      width: 34px
      position: relative
      top: -1px
      margin: 0px 10px 0px 24px

  .summary
    display: flex
    flex-grow: 1
    text-align: left
    justify-content: flex-start
    align-items: flex-start
    position: relative

    p
      position: absolute
      width: 100%
      left: 10px
      top: 5px
      margin: 0
      opacity:0
      font-weight: 300
      font-size: 1em
      transition: opacity 0.3s ease

      +media('nohover')
        opacity: 0.7

      +media('md-height')
        font-size: 0.8em

  &:hover
    .summary
      p
        opacity: 0.7


dump_media_cache()