@import '~@/styles/mixins'
@import '~@/styles/variables'

#about
  color: $dark-queen-blue
  display: flex
  align-items: flex-start
  justify-content: center

  section
    max-width: 800px
    width: 95%
    padding: 60px 20px

  h1
    font-weight: 400
    text-align: center
    font-family: $title-font

dump_media_cache()
