@import '~@/styles/mixins'
@import '~@/styles/variables'

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.grid
  display: grid
  position: relative
  height: 93vh
  width: 100%
  grid-template-columns: 100%
  grid-template-rows: 8% 92%
  background: $dark-queen-blue

  +media('md')
    margin-top: 7vh

  &.loading

    .date-header
      background: $dark-queen-blue
    &:before
      content: ''
      position: absolute
      z-index: 100
      animation: rotate 2.5s infinite linear
      left: 0
      top: 0
      width: 100%
      height: 100%
      background-image: url('./imgs/loading.png')
      background-size: 300px
      background-repeat: no-repeat
      background-position: center center

.date-header
  display: flex
  flex-direction: row
  grid-row: 1
  background: $light

  +media('md')
    width: 250%

  +media('xs')
    width: 350%

  .single-date
    padding: 10px 0 5px
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &:first-of-type
      color: $bright-blue

    p
      margin: 0
      line-height: 0.8em
      font-size: 1em

    .date
      font-size: 2em
      font-weight: 800
      line-height: 0.9em

.days-grid-wrap
  height: 100%
  overflow: scroll
  grid-row: 2
  background: $white

  +media('md')
    width: 250%

  +media('xs')
    width: 350%

.days-grid
  display: flex
  height: 160%
  width: 100%
  flex-direction: row
  justify-content: space-between
  box-shadow: -39px 8px 44px -63px rgba(0,0,0,0.83) inset

dump_media_cache()