@import '~@/styles/mixins'
@import '~@/styles/variables'

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.grid
  display: grid
  position: relative
  height: 93vh
  width: 100%
  grid-template-areas: "up date" "days days"
  grid-template-columns: 3% 97%
  grid-template-rows: 8% 92%

  +media('lg')
    margin-top: 7vh
    grid-template-areas: "date" "days"
    grid-template-columns: 100%
    grid-template-rows: 8% 92%

  &.loading
    &:before
      content: ''
      position: absolute
      z-index: 100
      animation: rotate 2.5s infinite linear
      left: 0
      top: 0
      width: 100%
      height: 100%
      background-image: url('./imgs/loading.png')
      background-size: 300px
      background-repeat: no-repeat
      background-position: center center

.date-header
  grid-area: date
  display: flex
  flex-direction: row
  background: $white

  +media('lg')
    width: 250%

  +media('xs')
    width: 350%

  .single-date
    padding: 5px 0
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &:first-of-type
      color: $bright-blue

    p
      margin: 0
      line-height: 0.8em
      font-size: 0.8em

    .date
      font-size: 1.6em
      font-weight: 800
      line-height: 0.9em

.days-grid-wrap
  height: 100%
  overflow: hidden
  background: $white
  grid-area: days
  display: flex

  &.unlocked
    overflow: scroll

  +media('lg')
    width: 250%
    overflow: hidden

  +media('xs')
    width: 350%

.up
  position: relative
  grid-area: up
  border: none
  color: $gcgrey
  font-size: 25px
  background: $white
  cursor: pointer
  padding: 0
  &:hover
    span.tooltip
      display: block

  span.tooltip
    display: none
    padding: 5px 10px
    border-radius: 8px
    background: $black
    text-align: left
    color: $white
    font-weight: 600
    font-size: 12px
    line-height: 15px
    position: absolute
    left: 75%
    top: 100%
    min-width: 170px

  span.arrow
    display: block
    position: relative
    left: 7px
    transform: rotate(-90deg)
    transition: transform 0.3s ease

  &.unlocked
    span.arrow
      transform: rotate(90deg)

  +media('x-lg')
    font-size: 25px

  +media('lg')
    display: none;

.time-col
  width: 3%
  height: 160%

  +media('lg')
    display: none

  p
    position: relative
    right: -3px
    height: 4.16%
    margin: 0
    text-align: center
    display: flex
    justify-content: flex-end
    align-items: flex-start
    white-space: nowrap

    span
      color: $gcgrey
      text-align: right
      font-size: 9px

    .dash
      padding-left: 2px

.days-grid
  display: flex
  height: 160%
  width: 97%
  flex-direction: row
  justify-content: space-between
  box-shadow: -39px 8px 44px -63px rgba(0,0,0,0.83) inset

  +media('lg')
    width: 100%

dump_media_cache()
