@import '~@/styles/mixins'
@import '~@/styles/variables'

.grid
  display: grid
  height: 93vh
  width: 100%
  grid-template-columns: 100%
  grid-template-rows: 8% 92%
  background: $dark-queen-blue
  +media('md')
    margin-top: 7vh

.date-header
  display: flex
  flex-direction: row
  grid-row: 1
  background: $light

  +media('md')
    width: 250%

  +media('xs')
    width: 350%

  .single-date
    padding: 10px 0 5px
    border-bottom: 2px solid rgba(0,0,0,0.3)
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &:first-of-type
      color: $today-blue

    p
      margin: 0
      line-height: 0.8em
      font-size: 0.65em

    .date
      font-size: 2em
      font-weight: 800
      line-height: 0.9em

.days-grid-wrap
  height: 100%
  overflow: scroll
  grid-row: 2
  background: $dark-queen-blue

  +media('md')
    width: 250%

  +media('xs')
    width: 350%

.days-grid
  display: flex
  height: 160%
  width: 100%
  flex-direction: row
  justify-content: space-between
  box-shadow: -39px 8px 44px -63px rgba(0,0,0,0.83) inset

dump_media_cache()