@import '~@/styles/mixins'
@import '~@/styles/variables'

#map
  height: 100%

.title
  margin: 5px 0 20px

p.error
  color: $white
  background: $err
  padding: 5px 10px
  font-weight: 600
  font-size: 16px
  text-align: left

.map-holder
  height: 350px
  border: 1px solid #cdcdcd

#pac-input
  width: 100%
  margin-bottom: 10px
  padding: 5px 10px
  border: 1px solid #cdcdcd
  font-size: 1em

  &.error
    border: 1px solid $err;

#get-weather
  width: 100%
  display: flex
  justify-content: center
  align-items: center

  button
    background: $today-blue
    color: $white
    border: 0
    margin: 10px 0 20px
    padding: 5px 10px
    cursor: pointer

    &:hover
      background: $zomp