@import '~@/styles/mixins'
@import '~@/styles/variables'

#nav
  padding: 10px 20px 15px
  background: $white
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  height: 7vh
  border-bottom: 1px solid rgba(0,0,0,0.11)

  +media('md')
    position: fixed
    top: 0
    left 0
    width: 100vw

.logo, p, sup
  margin: 0
  color: $bright-blue

.logo
  font-weight: 400
  text-decoration: none
  font-size: 1.5em
  font-family: $title-font

  +media('sm-height')
    font-size: 1.2em

.title sup
  position: relative
  top: -15px
  left: -5px
  color: $medium-blue

  +media('sm-height')
    font-size: 0.5em
    top: -9px

p
  font-size: 0.6em
  margin-left: 25px

  +media('sm-height')
    font-size: 0.5em
    margin-left: 20px

.links
  a
    text-decoration: none
    color: $bright-blue
    font-size: 1em
    font-weight: 600
    padding: 10px 20px

    +media('xs')
      padding: 5px

    &:hover
      text-decoration: underline
.btn
  background: $bright-blue
  border: 1px solid $light
  border-radius: 8px
  color: $white !important
  +media('xs')
    span
      display: none
  +media('sm-height')
    font-size: 0.8em

  &:hover
    background: $medium-blue
    text-decoration: none !important

dump_media_cache()